<p id="notice"><%= notice %></p>
  <% if flash[:errors] %>

    <div id="error_explanation">
      <h2><%= pluralize(flash[:errors].count, "error") %> prohibited this sub from being saved:</h2>
      <ul>
      <% flash[:errors].each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Url:</strong>
  <%= @post.url %>
</p>

<p>
  <strong>Content:</strong>
  <%= @post.content %>
</p>

<p>
  <strong>Sub:</strong>
  <% @post.subs.each do |sub| %>
    <%= link_to sub.title, sub %>
  <% end %>
</p>

<p>
  <strong>Author:</strong>
  <%= @post.author.username %>
</p>

<%= link_to "Edit", edit_post_path(@post) %> |

<p>
  <strong>Comment Section</strong>
    <table>
    <thead>
      <tr>
        <th>Content</th>
        <th>Author</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @post.top_comments.each do |comment| %>
        <tr>
          <td><%= comment.content %></td>
          <td><%= comment.author.username %></td>
          <td><%= link_to "Show", post_comment_url(comment.post, comment) %></td>
          <td><%= link_to "Edit", edit_comment_path(comment) %></td>
          <td><%= link_to "Destroy", comment, method: :delete, data: { confirm: "Are you sure?" } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>
</p>  

<p>
  <strong>Create a New Comment</strong>
  <%= link_to "Create a new Comment", new_post_comment_url(@post.id) %>
</p>  
