<p id="notice"><%= notice %></p>

<p>
  <strong>Url:</strong>
  <%= @title.url %>
</p>

<p>
  <strong>Content:</strong>
  <%= @title.content %>
</p>

<p>
  <strong>Sub:</strong>
  <%= @title.sub %>
</p>

<p>
  <strong>Author:</strong>
  <%= @title.author %>
</p>

<%= link_to 'Edit', edit_title_path(@title) %> |
<%= link_to 'Back', titles_path %>
