<!DOCTYPE html>
<html>
  <head>
    <title>MusicApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", media: "all", 'data-turbolinks-track': "reload" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track': "reload" %>
  </head>

  <body>  
    <% if current_user %>
      <%= current_user.email %>
      <form action="<%= session_url %>" method = "post">
        <input type="hidden" name="athuenticity_token" value="<%= form_authenticity_token %>">
        <input type="hidden" name ="_method" value = "DELETE">
        <input type="submit" value="Logout">
      </form>
    <% else %>
      <%= link_to "Sign Up", new_user_url %>
      <%= link_to "Sign In", new_session_url %>
    <% end %>


    <%= yield %>
  </body>
</html>
