<% if action == :new %>
    <%action_url = cats_url %>
    <%button_text = 'Create Cat' %>
<% else%>
    <% action_url = cat_url(cat)%>
    <%button_text = 'Edit Cat' %>
<% end %>


<form action = "<%=action_url%>" method = "POST"> 
    <% if action == :edit %>
        <input type = "hidden" name = "_method" value = "PATCH"> 
    <%end%>

    <label for="name"> Name
        <input type="text" name = "cat[name]" value="<%=cat.name%>">
    </label>
    
    <br>
    <br>
    
    <label for="sex"> Sex
    <br>
        <label for= "male"> Male
            <input type = "radio" name= "cat[sex]" value="M" <%= cat.sex == 'M' ? 'checked' : "" %> > 
        </label>
        <label for= "female"> Female
            <input type = "radio" name= "cat[sex]" value="F" <%= cat.sex == 'F' ? 'checked' : "" %>>
        </label>
    </label>
    
    <br>
    <br>
    
    <label for="color"> Color
        <select name= "cat[color]">
            <option disabled selected>Select a color</option>
            <% Cat::COLORS.each do |color| %>
                <option value= "<%=color%>" <%= cat.color == color ? 'selected' : "" %>><%=color%>
            </option>
            <%end%>
        </select>
    </label>

    <br>
    <br>

    <label for="birth_date"> Birth Date
    <br>
        <input type = "date" name= "cat[birth_date]" value="<%=cat.birth_date%>">
    </label>

    <br>
    <br>

    <label for="description"> Description
    <br>
        <textarea name= "cat[description]"> <%=cat.description%> </textarea>
    </label>
    <br>
    <br>

    <input type="submit" value="<%= button_text %>" />
</form>