
<table>
<thead> 
    <tr> <th colspan = "4"> <%=@cat.name%> </th> </tr>
</thead>
<tbody> <tr>  <td>Sex</td> <td>Color</td> <td>Birth Date</td><td>Description</td></tr>

    <tr> 
    <td> <%= @cat.sex %> </td>
    <td> <%= @cat.color %> </td>
    <td> <%= @cat.birth_date %> </td>
    <td> <%= @cat.description %> </td>   
    </tr>

</tbody>

</table>