<h2 class="pageheader">New User</h2>



<form class = "form" action="<%= users_url %>" method= 'POST'>
    <input type="hidden" name="authenticity_token", value = "<%= form_authenticity_token %>">
    <p>

    <%= label :user, :email %>
    <%= text_field :user, :email %>
    </p>

    <p>


    <%= label :user, :password %>
    <%= password_field :user, :password %>
    </p>
    <%= submit_tag "Submit", class: "button"%>
</form>


