<h1>Sign In</h1>
<%= form_with(model: User.new, url: :session, local: true) do |form| %>
  <% if flash[:errors] %>
    <div id="error_explanation">
      <h2><%= pluralize(flash[:errors].count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% flash[:errors].each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :username %>
    <%= form.text_field :username %>
  </div>

  <div class="field">
    <%= form.label :password %>
    <%= form.password_field :password %>
  </div>

  <div class="actions">
    <%= form.submit "Sign In" %>
  </div>
<% end %>
