<h2 class="pageheader">Sign in</h2>

<%= form_with scope: :user, url: :session, class: "form" do |f| %>
    <%= f.label :email %>
    <%= f.text_field :email %>
    <%= f.label :password %>
    <%= f.password_field :password %>
    <br>
    <%= f.submit "Submit", class: "button" %>
<% end %>
